<ion-content>
  <ion-slides>
    <ion-slide>
      <p><ion-icon class="iconHead" name="planet-outline"></ion-icon></p>
      <p id="">Welcome to</p>
      <p id="first">Rate my Friends!</p>
      <ion-label id="slideNext">Slide left <ion-icon name="arrow-forward-outline"></ion-icon></ion-label>
    </ion-slide>
    <ion-slide>
      <p><ion-icon class="iconHead" name="accessibility-outline"></ion-icon></p>
      <p>Rate your Friends</p>
      <p>and let your Friends rate you!</p>
    </ion-slide>
    <ion-slide>
      <p><ion-icon class="iconHead" name="rocket-outline"></ion-icon></p>
      <p>Get yourself started!</p>
      <ion-button href="login2"><ion-icon slot="start" name="mail"></ion-icon>Login / Sign up</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>