@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

ion-title{
    font-family: 'Space Mono', monospace;
}

ion-button{
    width: 98.5%;
    margin-bottom: 0;
}

ion-content { 
    --background: rgba(0, 0, 0, 0);
}

ion-content>div.background-content{
    --background: rgba(0, 0, 0, 0.671);
}