@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

ion-title{
    font-family: 'Space Mono', monospace;
}

.friendName{
    padding-left: 3%;
}

.nameColor{
    color: #eed651;
}

.numColorG{
    color: #eed651;
}

.numColorS{
    color: rgb(199, 197, 197);
}

.numColorB{
    color: rgb(163, 94, 62);
}

.numColorGr{
    color: grey;
}

.ratingFef{
    padding-left: 2%;
}

ion-text{
    font-family: 'Space Mono', monospace;
}

.item2{
    padding-left: 6%;
}